

<div class="container">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="text-primary text-center"><b>Pura Vida!</b></h1><br />
            <p class="text-primary text-center">I am <a href="#">Michael Gonzalez</a> a Costa Rica developer. The most important thing to achive it's happines.</p>
            <p class="text-primary text-center"><b>Let's get all what you need and make you happy.</b></p>
            <p class="text-primary text-center"><b>Guess what??  </b>We are here to take you right on the place you want to be just with a click.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p><a class="btn btn-default" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>

