.headshot {
    max-width: 65px;
    padding: 15px;
    margin-left: 60px;
}

.menu {
    font-size: 18px;
}

.menu li {
    list-style-type: none;
}

.menu li.active {
    font-weight: bold;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#main_navbar{
    background-color:aqua;
}

.fa-cog {
  color: #b6ff00;
}
#sidebar a {
    color: #b6ff00;
}
.btnNav{
    margin: 10px 5px;
}
