@model ICollection<Ak.ViewModels.EventViewModel>
@{
    ViewBag.Title = "Drag and Drop Event";
}
@section Scripts{
    @*http://web1.cs-computing.com/apps/demo/bootstrap/bootstrap_demo.nsf/dnd.xsp*@

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvPPFmS4T3r0jAoTS8sEnSOLNZcN8zOEM&libraries=visualization">
    </script>
}
<div class="row">

    <div class="col-md-12 text-center">
        <h1>@ViewBag.Title</h1>
    </div>
    <div id="source" class="owl-carousel owl-theme">
        @*<ul class="source connected">*@
        @foreach (var item in Model)
        {
            <div id="@item.Id">
                @item.Name.ToString()
            </div>
        }
        @*</ul>*@
    </div>
</div>
<div class="row">
    <div class="col-md-12 toppadding">
        <label>Details</label>
        <textarea cols="40" class="form-control" id="detailsText" placeholder="No loaded data"></textarea>
    </div>
</div>
 <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Event address</div>
            </div>
            <div class="panel-body">
                <div id="mapContainer" style="height:600px; width:600px" class="center-block"></div>
            </div>
        </div>
</div>


<script type="text/javascript">

        var mod = @Html.Raw(Json.Serialize(Model));

        window.onload = function () {
            $("#source").owlCarousel({

                items : 5, //10 items above 1000px browser width
                itemsDesktop : [1000,5], //5 items between 1000px and 901px
                itemsDesktopSmall : [900,3], // betweem 900px and 601px
                itemsTablet: [600,2], //2 items between 600 and 0
                itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
            });
            $("#source").trigger('owl.play',1000);
        };


</script>

