@model ICollection<Ak.ViewModels.EventViewModel>
@{
    ViewBag.Title = "Drag and Drop Event";
}
@section Scripts{
    <script type="text/javascript" src="~/wwwroot/lib/dragdrop/jquery.sortable.min.js"></script>
    <link href="~/css/Drag.css" rel="stylesheet" />
    @*http://web1.cs-computing.com/apps/demo/bootstrap/bootstrap_demo.nsf/dnd.xsp*@
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvPPFmS4T3r0jAoTS8sEnSOLNZcN8zOEM&libraries=visualization">
</script>
}
<div class="row">
    <div class="col-md-12">
        <div class="sideBySide">
            <div class="col-md-12 text-center">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-md-6">
                <ul class="source connected">
                    @foreach (var item in Model)
                    {
                        <li id="@item.Id" class="text-center">
                            @item.Name.ToString()
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="target connected" id="target"></ul>
                    </div>
                    <div class="col-md-12">
                        <label>Details</label>
                        <textarea cols="40" class="form-control" id="detailsText" placeholder="No loaded data"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

      <div id="mapContainer" style="height:600px; width:600px" class="center-block"></div>

</div>
<script type="text/javascript">

    var mod = @Html.Raw(Json.Serialize(Model));

    window.onload = function () {
        $(".source, .target").sortable({
            connectWith: ".connected"
        });
    };
    
</script>
